.Perfil1{
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 15px;
    width: 70%;
    height: 300px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 #817f7f;
    margin-top: 50px;
 


    
}

.body2{
padding-left: 250px;
}
.black-box1 {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
}
.input-Cconta1{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    color: rgb(235, 143, 45); 
}
.input-perfil { 
    flex-direction: column;
    background-color: transparent;
    border: 2px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
        
} 

.input-email{
    flex-direction: column;
    background-color: transparent;
    border: 0;
    justify-content: center;
    align-items: center;
   
}

.input-senha{
    flex-direction: column;
    background-color: transparent;
    border: 0;
    justify-content: center;
    align-items: center;
   
}

.input-ConSenha{
    flex-direction: column;
    background-color: transparent;
    border: 0;
    justify-content: center;
    align-items: center;
   
}

.input-perfil input {
    padding: 0.8px;
    height: 100%;
    width: 70%;
    border: 0;
    border-bottom: 1px solid #817f7f;
    background-color: transparent;
    line-height: 1.5; 
}

.input-email input{
    padding: 0.8px;
    height: 100%;
    width: 70%;
    border: 0;
    border-bottom: 1px solid #817f7f;
    background-color: transparent;
    line-height: 1.5
}

input:focus{
    outline: 0;
}

.input-senha input{
    padding: 0.8px;
    height: 100%;
    width: 70%;
    border: none;
    border-bottom: 1px solid #817f7f;
    background-color: transparent;
    line-height: 1.5
}

.input-ConSenha input{
    padding: 0.8px;
    height: 100%;
    width: 70%;
    border: 0;
    border-bottom: 1px solid #817f7f;
    background-color: transparent;
    line-height: 1.5
}
.botao-editarPerfil{
    font-family: cursive;
    background-color: #ED7E07;
    width: 30%;
    height: 100%;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-right: 4%;
    border-radius: 50px;
    margin-top: 50px;
} 